.map-container {
    height: 80vh; /* 75% of viewport height */
    border-radius: 8px;
    border: 1px solid #000000;
}

#Titled {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(212, 202, 202);
    text-shadow: 2px 2px 2px rgb(2, 14, 20);
}
