.map-container {
    height: 80vh; /* 75% of viewport height */
    border-radius: 8px;
    border: 1px solid #000000;
}

#Titled {
    font-size: 50px;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(176, 89, 184);
}
